.rating__tit-hoadon{
    font-weight: bold;
    font-size: 19px;
}

.rating__tit-hoadon{
    margin: 15px auto 15px auto;
}

.rating__tit-chontinh{    
    margin-bottom: 20px;
    margin-top : 20px;
}
.rating__hr{
    border: 1px solid rgba(242, 242, 242, 0.93);
    border: 2px solid rgba(242, 242, 242, 0.93);  
}
.rating__search-bar{
    width: 100%;
    max-width: 500px;
    height: 40px;
    padding-left: 10px;
    background: #F5F7F9;
    border:none;
}
.rating__form-chon-tinh{
    margin-top: 20px;
}
.rating__tinh__dropdown{
display:none;
&.show{
    display: block;
}
}
.rating__ul{
    text-align:left;
    margin-top: 20px;
}
.rating__tinh-tentinh , .rating__tinh__coso{
display:block;
border-bottom: 0.5px solid rgba(0,0,0,0.2);
// width: 90%;
padding: 15px;
font-size: 15px;
// padding-left: 50%;
text-align:center;
}
.rating__tinh__coso{
    font-weight:bold;
}


