.rating__thankyou{
background: #FFFFFF;
box-shadow: 4px 4px 200px rgba(129, 111, 111, 0.25);
border-radius: 15px;
width: 80%;
margin: auto;
color: #2B2A2A;
font-weight: 300;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.1em;
padding: 50px;
margin-top: 20px;
}

.rating__thankyou h1{
    font-size: 19px;
    
}