html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

li {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input[type="button"] {
  background: none;
  color: unset; }

a, a:-webkit-any-link {
  color: unset; }

li {
  text-align: unset; }

th {
  font-weight: unset;
  text-align: unset; }

img {
  max-width: 100%; }

.rating__button-xac-nhan {
  background: rgba(198, 29, 35, 0.9);
  color: #ffffff;
  padding: 10px;
  font-weight: 900;
  font-size: 17px; }
  .rating__button-xac-nhan.startscreen {
    margin-top: 10%; }

.rating {
  width: 100%; }

.rating__logo--small {
  width: 30%;
  max-width: 150px; }

.rating__cover {
  max-width: 800px;
  padding-top: 5vh;
  width: 80%; }

.rating__tit-hoadon {
  font-weight: bold;
  font-size: 19px; }

.rating__tit-hoadon {
  margin: 15px auto 15px auto; }

.rating__tit-chontinh {
  margin-bottom: 20px;
  margin-top: 20px; }

.rating__hr {
  border: 1px solid rgba(242, 242, 242, 0.93);
  border: 2px solid rgba(242, 242, 242, 0.93); }

.rating__search-bar {
  width: 100%;
  max-width: 500px;
  height: 40px;
  padding-left: 10px;
  background: #F5F7F9;
  border: none; }

.rating__form-chon-tinh {
  margin-top: 20px; }

.rating__tinh__dropdown {
  display: none; }
  .rating__tinh__dropdown.show {
    display: block; }

.rating__ul {
  text-align: left;
  margin-top: 20px; }

.rating__tinh-tentinh, .rating__tinh__coso {
  display: block;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
  font-size: 15px;
  text-align: center; }

.rating__tinh__coso {
  font-weight: bold; }

.rating__tenshowroom {
  text-align: center;
  background: rgba(198, 40, 40, 0.95);
  color: #fff;
  padding: 17px;
  font-weight: bold;
  text-transform: uppercase; }

.rating__info-khach {
  margin: auto;
  width: max-content; }

.rating__info-khach__field {
  display: flex;
  padding-top: 10px; }

.rating__info-khach__field__key {
  width: 100px; }

.rating__row-border {
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px; }

.rating__hour {
  margin-left: 50px; }

.rating__hoa-don tr {
  font-weight: normal;
  border-bottom: 1px solid #c7c2c2; }

.rating__hoa-don th {
  padding: 10px 5vw; }

.rating__hoa-don th:first-child {
  padding-left: 0; }

.rating__hoa-don th:last-child {
  padding-right: 0; }

th.rating__hoa-don__tensp {
  text-align: left; }

.rating__hoa-don__total__value {
  font-weight: bold; }

.rating__info-khach, .rating__hoa-don, .rating__hoa-don__total {
  font-size: 14px; }

.red {
  color: rgba(198, 40, 40, 0.95); }

.rating__hoa-don__total {
  margin-left: 10vw;
  margin-right: 10vw;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px;
  display: flex;
  justify-content: space-between; }

.rating__hoa-don {
  margin: 30px auto 30px auto; }

.rating__button-xac-nhan.martop20 {
  margin-top: 20px; }

.rating__thankyou {
  background: #FFFFFF;
  box-shadow: 4px 4px 200px rgba(129, 111, 111, 0.25);
  border-radius: 15px;
  width: 80%;
  margin: auto;
  color: #2B2A2A;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 50px;
  margin-top: 20px; }

.rating__thankyou h1 {
  font-size: 19px; }

.rating__message {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: center; }

.rating__feedback__opinions__single {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px; }

.rating__eachopi {
  margin-bottom: 20px;
  width: 46%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px; }

.rating__opi {
  text-align: center;
  font-size: 13px;
  margin: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.rating__opitext {
  padding: 16px 0; }

.rating__icon {
  width: 30%;
  padding: 30px 0; }

.rating__iconbg.laven {
  background: #F4E3E3; }

.rating__iconbg.blue {
  background: #D3ECE9; }

.rating__iconbg.teal {
  background: #DAEFF4; }

.rating__iconbg.sky {
  background: #E2F4FC; }

.rating__iconbg.gray {
  background: #E3E5E5; }

.rating__iconbg.beige {
  background: #F4F2DB; }

.rating__star-main {
  background: rgba(198, 29, 35, 0.8);
  height: 90vh; }

.rating__box {
  background: #FFFFFF;
  border-radius: 15px;
  margin: 40px 15px;
  padding: 40px 10px; }

.rating__dgcl {
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 30px; }

.rating__iconstar {
  stroke: black;
  stroke-width: 0.5; }

.rating__logo {
  width: 50%;
  max-width: 300px; }

.smilie {
  width: 45%;
  max-width: 180px;
  margin: auto; }

.list-of-svg {
  width: fit-content;
  padding-top: 20px; }

.rating__hl {
  float: right; }

.rating__khlhl {
  font-size: 13px;
  width: 70vw;
  max-width: 300px;
  margin: auto;
  margin-top: 15px; }

.list-of-svg svg {
  margin: auto 1vw; }

* {
  box-sizing: border-box; }

body {
  font-family: Roboto, sans-serif; }

.row {
  margin: 0 -15px; }
  .row :after {
    content: "";
    clear: both; }

.container {
  max-width: 1240px;
  margin: 0 auto;
  overflow: hidden; }

/* all the things that need margin auto */
.rating__button-xac-nhan, .rating, .rating__logo, .rating__cover, .rating__search-bar, .rating__thanh-pho__button, .rating__tinh, .rating__tenshowroom, .smilie, .list-of-svg, .rating__logo--small {
  margin: auto;
  display: block; }

/* all the things that need text align center */
.rating__tit-hoadon, .rating__tit-chontinh {
  text-align: center; }
